html, body {
    height: 100%;
  }

.dashboard{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.heading{
    /* text-align: center; */
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.leftpanel{
    /* background-color: green; */
    border-right: 1px solid black;
    height: 100vh;
    /* text-align: center; */
}

.featuresarea{
    padding-top: 2rem ;
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.features {
    padding: 0.5rem;
    border-top: 1px solid black;
    cursor: pointer;
}   