

.addmapbutton{
    text-align: center;
}


/* .questionarea{
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 2px;
}

.choices{
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 2px;
} */